{% extends "base.html" %}
{% block title %}Užsakymas{% endblock %}

{% block content %}
<h1>Užsakymas:</h1>
<br>
<ul>
    <li>Automobilis: <b>{{ object.automobilis }}</b></li>
    <li>Data: {{ object.data }}</li>
    <li>Statusas: {{ object.statusas }}</li>
    <li>Terminas: {{ object.terminas }}</li>
    <li>Vartotojas: {{ object.vartotojas }}</li>
</ul>

{% if object.vartotojas == user %}
<div>
  <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'manouzsakymas_update' object.id %}">Redaguoti</a>
  <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'manouzsakymas_delete' object.id %}">Ištrinti</a>
  <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'manouzsakymas_newline' object.id %}">Pridėti eilutę</a>
</div>
{% endif %}

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Paslauga</th>
      <th scope="col">Kiekis</th>
      <th scope="col">Kaina</th>
      <th scope="col">Suma</th>
    </tr>
  </thead>
  <tbody>
  {% for eilute in object.eilutes.all %}
    <tr>
      <th scope="row">{{ eilute.paslauga.pavadinimas }}</th>
      <td>{{ eilute.kiekis }}</td>
      <td>{{ eilute.paslauga.kaina }}</td>
      <td>{{ eilute.suma }}
              <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'manouzsakymas_deleteline' object.id eilute.id %}">Ištrinti</a>
      </td>
    </tr>
  {% endfor %}
    <tr>
        <td colspan="3"></td>
      <th>SUMA: {{ object.bendra }}</th>
    </tr>
  </tbody>
</table>
</br>
  <img class="rounded-circle account-img" src="{{ object.vartotojas.profile.nuotrauka.url }}">
  <h4>Komentarai:</h4>
  {% if user.is_authenticated %}
  <div class="fieldWrapper">
    <hr><br/>
    <h4>Palikite komentarą:</h4>
    <form action="" method="post">
      {% csrf_token %}
      {{ form.komentaras }}</br>
      <input type="submit" value="Išsaugoti">
    </form>
  </div>
  {% endif %}
  {% if object.komentarai %}
    {% for komentaras in object.komentarai.all %}
      <hr>
      <strong>{{ komentaras.vartotojas }}</strong>, <em>{{ komentaras.data}}</em>
      <p>{{ komentaras.komentaras }}</p>
    {% endfor %}
  {% else %}
    <p>Nėra komentarų</p>
  {% endif %}
{% endblock %}