{% extends "base.html" %}
{% block title %}Automobilis{% endblock %}

{% block content %}
<ul>
    <li>Automobilis: <b>{{ automobilis.modelis }}</b></li>
    <li>Valstybinis numeris: {{ automobilis.valstybinis_nr }}</li>
    <li>VIN kodas: {{ automobilis.vin_kodas }}</li>
    <li>Klientas: {{ automobilis.kliento_vardas }}</li>
</ul>
<h3>Užsakymai:</h3>
<ul>
{% for uzsakymas in automobilis.uzsakymai.all %}
    <li><a href="{% url 'uzsakymas' uzsakymas.id %}">{{ uzsakymas }}</a></li>
{% endfor %}
</ul>
{% endblock %}